.container{
  padding: 60px 20px;
  background-color: #FFFFFF;
}
.new-tweet{
  padding: 10px;
  border-radius: 5px;
  background-color: #DCDCDC;
  border: 1px solid black;
}

.counter{
  float: right;
}

h2{
  border-bottom: 1.5px solid black;
}

span.counter {
  float:right;
}

textarea{
  width:100%;
}